@model Geonorge.Forvaltningsinformasjon.Core.Models.SentralFkbSummary
@{
    ViewData["Title"] = "Forvaltningsinformasjon";
}

<div>
    <h1 class="small-h1">Forvaltningsinformasjon</h1>
    <div class="col-sm-12">
        <span class="separator-lg"></span>
    </div>
</div>
@foreach(var row in Model.Result)
{
    <span>@row.Fylke - @row.AntallDirekteOppdatering av @row.AntallKommunerTotalt</span><br />
}
