@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Forvaltningsinformasjon"];
}

<div>
    FKB-data
    <a href="@Url.Action("Index", "SentralFkb")">@Localizer["Forvaltning FKB"]</a>
</div>