@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Forvaltningsinformasjon"];
}

<div>
    <div>
        <h3>
            FKB-data
        </h3>
        <span class="separator-md"></span>
    </div>
    <div>
        <a href="~/fkb-data/management/direct-update-info">@Localizer["Forvaltning FKB"]</a>
    </div>
    <div>
        <a href="~/fkb-data/data-content/data-quality-classification">@Localizer["Datainnhold FKB"]</a>
    </div>
</div>
