@model Geonorge.Forvaltningsinformasjon.Core.Models.SentralFkbSummary
@{
    ViewData["Title"] = "Forvaltningsinformasjon";
}

<div>
    <h1 class="small-h1">Forvaltningsinformasjon</h1>
    <div class="col-sm-12">
        <span class="separator-lg"></span>
    </div>
</div>

<p>Antall kommuner i Norge som oppdaterer FKB-data direkte i Sentral felles kartdatabase: <strong>@Model.TotaltAntallKommunerDirekteOppdatering()</strong></p>

<div class="col-md-6">
    <table class="table">
        <thead>
        <tr>
            <th>Fylke</th>
            <th>Kommuner med direkte oppdatering</th>
        </tr>
        </thead>
        <tbody>

        @foreach(var row in Model.Result)
        {
            <tr>
                <td>@row.Fylke.Fylkesnavn</td>
                <td>@row.AntallDirekteOppdatering av @row.AntallKommunerTotalt</td>
            </tr>
        }
        </tbody>
    </table>
 </div>