@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Forvaltningsinformasjon"];
}

<div>
    <div>
        <h3>
            FKB-data
        </h3>
    </div>
    <div>
        <a href="~/fkb-data/management/area/counties">@Localizer["Forvaltning FKB"]</a>
    </div>
</div>
