@{
    Layout = "../_Layout.cshtml";
}

@section fkbSection
    {
    <div class="flex-container flex-row-reverse">
        <div class="flex-item">
            @RenderSection("titleSection")
        </div>
        <div class="flex-item flex-1">
            <partial name="~/Views/Common/Context.cshtml" />
        </div>
    </div>

    <div class="row">
        @RenderSection("aspectsSection")
    </div>
    }
