@{
    Layout = "../_Layout.cshtml";
}

@section fkbSection
    {
    <div class="col-md-3">
        <partial name="~/Views/Common/Context.cshtml" />
    </div>

    <div class="col-md-9">
        @RenderSection("aspectsSection")
    </div>
    }
