@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = "../_Layout.cshtml";
    ViewData["currentTab"] = "DataAgeDistribution";
}

@section titleSection
{
    <div style="text-align:center">
        <h4>@Localizer["Kommuneoversikt for "]</h4>
    </div>
}

@section aspectsSection
    {
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Klasse"]</th>
                <th>@Localizer["Areal"]</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
}