@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model Geonorge.Forvaltningsinformasjon.Web.Models.FkbData.Management.Aspects.TransactionData.TransactionDataViewModel

@{
    Layout = "./_Layout.cshtml";
    ViewData["currentTab"] = "TransactionData";
}

@section titleSection
{
    <div style="text-align:center">
        <heading-text>
            <h2 size="4">@Localizer["Fylkesoversikt for "] @Model.AdministrativeUnitName</h4>
        </heading-text>
        <p>
            Tabellen viser antall ganger det har blitt gjort endringer på datasettet (minst ett objekt er nytt, endret eller slettet).
        </p>
    </div>
}
