@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    Layout = "../_Layout.cshtml";
}

@section breadcrumb
{
    <li><a href="">@Localizer["Aktivitetsoversikt"]</a></li>
}

@section fkbSection
{
    Coming soon...
}