@{
    Layout = "../_Layout.cshtml";
}

@section fkbSection
    {
    <div class="row">
        <div class="col-md-4">
            <partial name="~/Views/Common/Context.cshtml" />
        </div>
        <div class="col-md-8">
            @RenderSection("titleSection")
        </div>
    </div>

    <div class="row">
        @RenderSection("aspectsSection")
    </div>
    @RenderSection("Scripts", false)
}
