@{
    Layout = "../_Layout.cshtml";
}

@section fkbSection
    {
    <div class="flex-container">
        <div class="flex-item">
            <partial name="~/Views/Common/Context.cshtml" />
        </div>
        <div class="flex-item">
            @RenderSection("titleSection")
        </div>
    </div>
    @RenderSection("aspectsSection")
}
