@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model Geonorge.Forvaltningsinformasjon.Core.Models.SentralFkbFylkeSummary
@{
    ViewData["Title"] = Localizer[$"Forvaltning FKB"];
}

@{
    Layout = "_Layout.cshtml";
}

@section breadcrumb
{
    <li><a href="">@Localizer["Forvaltning FKB"]</a></li>
}

@section fkbSection
{
    <table class="table">
        <thead>
            <tr>
                <th>Kommune</th>
                <th>Direkteoppdatering innført</th>
                <th>Planlagt innført</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Result)
            {
                <tr>
                    <td>@item.Kommune.Navn</td>
                    <td>@item.DirekteoppdateringInfort</td>
                    <td>@item.PlanlagtInnforing</td>
                </tr>
            }
        </tbody>
    </table>
}