@model Geonorge.Forvaltningsinformasjon.Core.Models.SentralFkbFylkeSummary
@{
    ViewData["Title"] = "Forvaltningsinformasjon for fylke";
}

<table class="table">
    <thead>
    <tr>
        <th>Kommune</th>
        <th>Direkteoppdatering innført</th>
        <th>Planlagt innført</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Result)
    {
        <tr>
            <td>@item.Kommune.Navn</td>
            <td>@item.DirekteoppdateringInfort</td>
            <td>@item.PlanlagtInnforing</td>
        </tr>
    }
    </tbody>
</table>