@using Microsoft.AspNetCore.Mvc.Localization
@using Geonorge.Forvaltningsinformasjon.Web.Models.Common

@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Localizer["Forvaltning FKB"];
    ViewData["tabs"] = new TabViewModel[] {
        new TabViewModel() { Caption = "Forvaltningssystem", Controller = "DirectUpdateInfo", Aspect = true},
        new TabViewModel() { Caption = "Transactionsdata", Controller = "TransactionData", Aspect = true},
        new TabViewModel() { Caption = "Driftsstatus", Controller = "OperationalStatus", Aspect = false},
    };
}

@section breadcrumb
    {
    <li>@Localizer["Forvaltning FKB"]</li>
}

<partial name="~/Views/Common/Tab.cshtml" />

<div>
    @RenderSection("fkbSection")
</div>