@using Microsoft.AspNetCore.Mvc.Localization
@inject ApplicationSettings AppSettings
@inject IViewLocalizer Localizer

@section scripts {
<script>
    geonorge.BreadcrumbList.BreadcrumbList.renderBreadcrumbs([
        {
            name: 'Geonorge',
            url: '@AppSettings.UrlGeonorgeRoot'
        },
        {
            name: '@Localizer["Forvaltningsinformasjon"]',
            url: '/'
        },
        {
            name: 'Rapporter',
            url: '/rapport'
        }
    ]);
</script>
}

@model List<Geonorge.Forvaltningsinformasjon.Web.Models.Reports.Report>

<gn-table>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Beskrivelse</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in Model)
            {
                <tr>
                    <td><a href="?rapport=@report.Type">@report.Type</a></td>
                    <td>@report.Beskrivelse</td>
                </tr>
            }
        </tbody>
    </table>
</gn-table>