@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section breadcrumb
{
<li><a href="/reports">Rapporter</a></li>
}

@*
<style>
    .iframe-container {
        overflow: auto;
        padding-top: 100%;
        position: relative;
        padding-bottom: 15%;
    }

        .iframe-container iframe {
            border: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
</style>

<div class="iframe-container2">
    <iframe style="min-height:98vh" width="100%" frameborder="0" src="https://www.kartverket.no/metadata/Reduksjonsfaktor/38Rapport.html" allowfullscreen></iframe>
</div>*@


<style>
</style>

<iframe frameborder="0" height="1600px" src="https://www.kartverket.no/metadata/Reduksjonsfaktor/38Rapport.html"></iframe>
