@section breadcrumb
{
<li><a href="/rapport">Rapporter</a></li>
}
@model List<Geonorge.Forvaltningsinformasjon.Web.Models.Reports.Report>

<table class="table">
<tr>
    <th>Type</th>
    <th>Beskrivelse</th>
</tr>
@foreach(var report in Model)
    {
        <tr>
            <td><a href="?rapport=@report.Type">@report.Type</a></td>
            <td>@report.Beskrivelse</td>
        </tr>
    }
</table>