@section breadcrumb
{
<li><a href="/rapport">Rapporter</a></li>
}
@model List<Geonorge.Forvaltningsinformasjon.Web.Models.Reports.Report>

<table>
<tr>
    <th>Fylke</th>
    <th>Tidspunkt</th>
</tr>
@foreach(var report in Model)
    {
        <tr>
            <td><a href="?rapport=@report.Type&fnr=@report.FylkesNummer">@report.FylkesNavn</a></td>
            <td>@report.Tidspunkt</td>
        </tr>
    }
</table>